@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa&family=Indie+Flower&display=swap');


body,
html {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

.desktop {
    display: none;
}

.btnMenu {
    display: block;
    background-color: white;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.btnMenu_open {
    background-image: url("img/open-menu.svg");
}

.btnMenu_close {
    background-image: url("img/close.svg");
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    background-color: #fc6dae;
    ;
}

.menu_open {
    transform: translateX(0);
}

.menu-item {
    padding: 20px 15px;
    border-bottom: 1px solid white;
}

.menu-item-action {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: medium;
}

li {
    list-style: none;
}

.logo {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.logo-rosa {
    color: #fc6dae;
    font-weight: bold;
}



@media screen and (min-width:900px) {
    .menu,
    .btnMenu {
        display: none;
    }
    .desktop {
        display: block;
    }
    .active {
        border-bottom: 1px solid white;
    }
    header {
        background-color: white;
        padding: 10px, 40px;
        height: 100px;
    }
    nav {
        height: 100px;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li {
        padding: 10px 0;
        cursor: pointer;
    }
    nav ul li.items {
        position: relative;
        width: auto;
        margin: 0 16px;
        text-align: center;
        order: 3;
    }
    nav ul li.logo {
        flex: 1;
        font-weight: 600;
        cursor: default;
        user-select: none;
    }
    nav ul li a {
        color: #aa96da;
        font-size: 18px;
        text-decoration: none;
        transition: .4s;
        text-transform: uppercase;
        font-weight: bold;
    }
    nav ul li i {
        font-size: 23px;
    }
    nav ul li.btn {
        display: none;
    }
    nav a:hover {
        text-decoration: underline;
        transition: 5ms;
    }
    .login a {
        background-color: #a8d8ea;
        color: white;
        text-decoration: none;
        border: #a8d8ea 2px solid;
        border-radius: 20px;
        padding: 15px 20px;
        cursor: pointer;
        position: relative;
        font-weight: bold;
    }
    .login a:hover {
        color: #a8d8ea;
        background-color: white;
        transition: 0.8s linear;
    }
    img{
        width: 100%;
    }

}

@media screen and (max-width:900px) {
    img{
        width: 100%;
    }
}
.banner{
  background-image: url('../img/fundo2.jpg');
  width: 100%;
  background-repeat: no-repeat;
}
